* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Itim", cursive;
  background-color: #f0f0f0;
}
.header {
  height: 100vh;
}
.hero {
  height: 100%;
  width: 100%;
  background-image: url("/assets/Home Page/Hero.jpg");
  background-repeat: none;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: -1;
}
.hero::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: -2;
}
.hero__content {
  z-index: 10;
  color: var(--main);
}
.header__nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--main);
  height: 6rem;
}
.header__nav-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-width: 1600px;
  margin: auto;
  height: 100%;
}
.header__nav-logo {
  display: flex;
  align-items: center;
}
.header__nav-logo img {
  width: 6rem;
  height: 6rem;
  object-fit: contain;
  margin: 10px;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--secondary);
}
.header__nav-items {
  display: flex;
  align-items: center;

  justify-content: space-around;
  height: 100%;
}
.header__nav-item {
  padding: 10px 20px;
  font-size: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  height: 100%;
  position: relative;
}
.header__nav-item:hover {
  cursor: pointer;
  background-color: var(--comp);
  opacity: 0.7;
}

.header__nav-item:hover a {
  color: var(--main);
}
.header__nav-item::after {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  width: 100%;
  bottom: -30px;
  height: 30px;
  background-color: transparent;
}
.header__nav-item:hover::after {
  background-color: var(--comp);
}
.header__nav-logo {
  transition: 0.3s all ease-in;
}
.header__nav-logo:hover {
  cursor: pointer;
  transform: scale(105%);
}
.hero__title {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 2rem;
}
.hero__tagline {
  font-size: 1.75rem;
  text-align: center;
}
.hero__counter-container {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--secondary);
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translate(50%, 50%);
  box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.5);
}
.hero__counter {
  text-align: center;
  padding: 4rem 2rem;
  background-color: var(--main);
}
.hero__counter-title {
  font-size: 4rem;
}
.hero__counter-tagline {
  font-size: 1.5rem;
  margin-top: -0.5rem;
}
.hero__counter-button {
  width: 100%;
  border: none;
  background-color: var(--comp);
  padding: 10px 0px;
  margin-top: 20px;
}
.hero__counter-button a {
  font-size: 125%;
  font-weight: bold;
  color: var(--main);
}
.hero__counter button:hover {
  cursor: pointer;
  opacity: 0.85;
}
.hero__counter-2 {
  color: var(--main);
  background-color: var(--comp);
}
.hero__counter-2 button {
  background-color: var(--main);
  transition: 0.3s all;
}
.hero__counter-2 button a {
  color: var(--comp);
}
.hero__counter-2 button:hover {
  cursor: pointer;
}
#section--2 {
  padding: 250px 0px 100px 0px;
}
.section--2__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  width: 100%;
  text-align: center;
  color: var(--secondary);
  max-width: 960px;
  width: 50%;
}
.section--2__title {
  font-size: 1.75rem;
  margin-bottom: 20px;
}
.section--2__body {
  font-size: 1rem;
  margin-bottom: 40px;
}
.section--2__container button {
  padding: 10px 40px;
  font-size: 1.25rem;
  transition: all 0.3s;
}
.cta {
  padding: 100px 0px;
}

.cta__container {
  display: grid;
  grid-template-columns: 40% 40%;
  gap: 20%;
  margin: auto;
  width: 80%;
  max-width: 1600px;
}

.cta__img {
  width: 100%;
  height: 100%;
}

.cta__img img {
  border-radius: 20px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.3s all;
}
.cta__img img:hover {
  opacity: 0.9;
  transform: scale(1.02);
}

.cta__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
}

.cta__title {
  font-size: 1.75rem;
  margin-bottom: 20px;
  text-align: center;
}
.cta__description-text {
  font-size: 1.25rem;
  padding: 25px 0px;
}
.cta__buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.cta__buttons button {
  width: 48%;
  padding: 1rem;
  border-radius: 25px;
  font-size: 1.25rem;
}
.our-work {
  padding: 100px;
}
.ow__container {
  margin: auto;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 100px;
  width: 90%;
  max-width: 1600px;
}
.ow__item {
  background-color: #e0e7f4;
  transition: 0.5s all;
}
.ow__item:hover {
  box-shadow: 5px 5px 40px 5px rgba(0, 00, 0, 0.4);
  cursor: pointer;
  transform: scale(1.05);
}
.ow__item:hover .ow__title {
  color: var(--comp);
}
.ow__img {
  width: 100%;
  height: 250px;
}
.ow__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.ow__title {
  margin-top: 20px;
  font-size: 1.5rem;
  text-align: center;
  transition: 0.5s all;
}
.ow__description {
  font-size: 1.1rem;
  text-align: center;
  margin: 40px;
  margin-top: 20px;
}
