* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Itim", cursive;
  background-color: #f0f0f0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
}

.header {
  height: 100vh;
}

.hero {
  height: 100%;
  width: 100%;
  background-image: url("/assets/Home Page/Hero.jpg");
  background-repeat: none;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: -1;
}
.hero::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: -2;
}
.hero__content {
  z-index: 10;
  color: var(--main);
}
.header__nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--main);
  height: 6rem;
}
.header__nav-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-width: 1600px;
  margin: auto;
  height: 100%;
}
.header__nav-logo {
  display: flex;
  align-items: center;
}
.header__nav-logo img {
  width: 6rem;
  height: 6rem;
  object-fit: contain;
  margin: 10px;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--secondary);
}
.header__nav-items {
  display: flex;
  align-items: center;

  justify-content: space-around;
  height: 100%;
}
.header__nav-item {
  padding: 10px 20px;
  font-size: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  height: 100%;
  position: relative;
}
.header__nav-item:hover {
  cursor: pointer;
  background-color: var(--comp);
}

.header__nav-item:hover a {
  color: var(--main);
}
.header__nav--active {
  background-color: var(--comp);
  position: relative;
}
.header__nav--active a {
  color: var(--main);
}
.header__nav--active::after {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  width: 100%;
  bottom: -30px;
  height: 30px;
  background-color: var(--comp);
}
.header__nav-item::after {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  width: 100%;
  bottom: -30px;
  height: 30px;
  background-color: transparent;
}
.header__nav-item:hover::after {
  background-color: var(--comp);
}
.header__nav-logo {
  transition: 0.3s all ease-in;
}
.header__nav-logo:hover {
  cursor: pointer;
  transform: scale(105%);
}

/* Mobile Nav */

.hamburger {
  z-index: 120;
  right: 20px;
  width: 35px;
  height: 40px;
  position: fixed;
  cursor: pointer;
  appearance: none;
  outline: none;
  border: none;
  background: none;
  display: none;
}
.hamburger .bar,
.hamburger::before,
.hamburger::after {
  z-index: 120;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  margin: 0.4rem 0px;
  background-color: var(--secondary);
}
.mobile-nav {
  height: 100%;
  width: 100vw;
  background-color: #333;
  position: fixed;
  top: 0;
  left: 1000%;
  z-index: 115;
  transition: 0.4s ease;
}

.mobile-nav__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 90%;
  margin: auto;
  height: 20vh;
}
.fa-xmark {
  color: #f1f1f1;
  font-size: 3rem;
  margin-right: 35px;
  cursor: pointer;
}
.mobile-nav__header img {
  max-width: 180px;
}
.is-active {
  left: 0;
}
.isnt-active {
  display: none;
}
.mobile-nav__body {
  display: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 65vh;
  z-index: 15;
}
.mobile-nav li,
.mobile-nav a {
  list-style: none;
  text-decoration: none;
}
.mobile-nav a {
  color: #f1f1f1;
  cursor: pointer;
  width: 12rem;
  text-align: center;
  padding: 10px 25px;
  font-size: 1.4rem;
  margin: 0.5rem 0;
  border: 2px solid #f1f1f1;
  border-radius: 25px;
  transition: background-color 0.5s, color 0.25s;
}

.mobile-nav a:hover {
  background-color: #f1f1f1;
  color: #333;
}

/* Hero section */
.hero__title {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 2rem;
}
.hero__tagline {
  font-size: 1.75rem;
  text-align: center;
}
.hero__counter-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  margin: auto;
  transform: translateY(-50%);
  box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.5);
}
.hero__counter {
  text-align: center;
  padding: 4rem 2rem;
  background-color: var(--main);
  width: 33.3%;
  height: 100%;
}
.mobile__counter {
  transform: translateY(0%);
  display: none;
}
@media screen and (max-width: 1150px) {
  .hero__counter-container {
    width: 70%;
  }
}
@media screen and (max-width: 900px) {
  .pc__counter {
    display: none;
  }
  .mobile__counter {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    /* display: none; */
  }
  .section--2 {
    padding: 100px 0px !important;
  }
}
@media screen and(max-width:550px) {
  .mobile__counter {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    /* display: none; */
  }
}
.hero__counter-title {
  font-size: 4rem;
}
.hero__counter-tagline {
  font-size: 1.5rem;
  margin-top: -0.5rem;
}
.hero__counter-button {
  width: 100%;
  border: none;
  background-color: var(--comp);
  padding: 10px 0px;
  margin-top: 20px;
}
.hero__counter-button a {
  font-size: 125%;
  font-weight: bold;
  color: var(--main);
}
.hero__counter button:hover {
  cursor: pointer;
  opacity: 0.85;
}
.hero__counter-2 {
  color: var(--main);
  background-color: var(--comp);
}
.hero__counter-2 button {
  background-color: var(--main);
  transition: 0.3s all;
}
.hero__counter-2 button a {
  color: var(--comp);
}
.hero__counter-2 button:hover {
  cursor: pointer;
}
.section--2 {
  padding: 250px 0px 100px 0px;
}
.section--2__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  width: 100%;
  text-align: center;
  color: var(--secondary);
  width: 50%;
  max-width: 960px;
}
@media screen and (max-width: 1050px) {
  .section--2__container {
    width: 100%;
    padding: 50px;
  }
}
@media screen and (max-width: 860px) {
  .section--2__title h3 {
    font-size: 1.5rem;
  }
  .footer {
    display: none;
  }
}
@media screen and (max-width: 560px) {
  .section--2__container {
    padding: 20px;
  }
}
.section--2__title {
  font-size: 1.75rem;
  margin-bottom: 20px;
}
.section--2__body {
  font-size: 1rem;
  margin-bottom: 40px;
}
.section--2__container button {
  padding: 10px 40px;
  font-size: 1.25rem;
  transition: all 0.3s;
}
.cta {
  padding: 100px 0px;
}

.cta__container {
  display: grid;
  grid-template-columns: 40% 40%;
  gap: 20%;
  margin: auto;
  width: 80%;
  max-width: 1600px;
}
@media screen and (max-width: 1000px) {
  .cta__container {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
  }
}
@media screen and (max-width: 700px) {
  .cta__container {
    display: grid;
    grid-template-columns: 1fr;
  }
}
.cta__img {
  width: 100%;
  height: 100%;
}

.cta__img img {
  border-radius: 20px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.3s all;
}
.cta__img img:hover {
  opacity: 0.9;
  transform: scale(1.02);
}

.cta__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
}

.cta__title {
  font-size: 1.75rem;
  margin-bottom: 20px;
  text-align: center;
}
.cta__description-text {
  font-size: 1.25rem;
  padding: 25px 0px;
}
.cta__buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.cta__buttons button {
  width: 48%;
  padding: 1rem;
  border-radius: 25px;
  font-size: 1.25rem;
}
.our-work {
  padding: 100px 0px;
}
.ow__container {
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 100px;
  width: 90%;
  max-width: 1600px;
}
@media screen and (max-width: 1200px) {
  .ow__container {
    grid-template-columns: 1fr 1fr;
  }
  .ow__item--3 {
    margin: auto;
  }
}
@media screen and (max-width: 900px) {
  .ow__container {
    grid-template-columns: 1fr;
    width: 60%;
  }
}
/* @media screen and (max-width: 700px) {
  .ow__container {
    width: 90%;
  }
} */
@media screen and (max-width: 500px) {
  .ow__container {
    width: 90%;
  }
}
.ow__item {
  background-color: #e0e7f4;
  transition: 0.5s all;
}
.ow__item:hover {
  box-shadow: 5px 5px 40px 5px rgba(0, 00, 0, 0.4);
  cursor: pointer;
  transform: scale(1.05);
}
.ow__item:hover .ow__title {
  color: var(--comp);
}
.ow__img {
  width: 100%;
  height: 250px;
}
.ow__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.ow__title {
  margin-top: 20px;
  font-size: 1.5rem;
  text-align: center;
  transition: 0.5s all;
}
.ow__description {
  font-size: 1.1rem;
  text-align: center;
  margin: 40px;
  margin-top: 20px;
}
.footer {
  padding: 100px 0px 50px 0px;
  background-color: var(--secondary);
  width: 100%;
  color: var(--main);
}
.footer a {
  color: var(--main);
}
.footer__container {
  width: 90%;
  margin: auto;
  max-width: 1600px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}
.footer__top {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin: auto;
}
.footer__email,
.footer__phone,
.footer__address {
  display: flex;
  align-items: center;
  justify-content: start;
  text-align: left;
  width: 100%;
  margin-bottom: 20px;
  font-size: 1rem;
  max-width: 310px;
}
.footer__ru--icons {
  margin-right: 20px;
  font-size: 1rem;
}
.footer__ru {
  font-size: 2rem;
  margin-bottom: 30px;
  text-align: left;
  color: var(--comp);
}
.footer__link-title {
  font-size: 2rem;
  margin-bottom: 30px;
  text-align: left;
}
.footer__link-title a {
  transition: 0.3s all;
  color: var(--comp);
}
.footer__link-title a:hover {
  opacity: 0.8;
}
.footer__link {
  font-size: 1.2rem;
  margin-bottom: 20px;
  font-size: 1rem;
  max-width: 310px;
  text-align: left;
}
.footer__link a {
  transition: 0.3s all;
}
.footer__link a:hover {
  opacity: 0.8;
}
.footer__bottom {
  display: flex;
  align-items: end;
  justify-content: space-between;
  width: 90%;
  max-width: 1600px;
}
.footer__subscribe {
  font-size: 2rem;
}
.footer__subscribe p {
  margin-bottom: 10px;
}
.footer__input {
  display: flex;
  align-items: center;
  justify-content: end;
  height: 100%;
}
.footer__subscribe input {
  width: 90%;
  margin-right: 0px;
  padding: 10px 0px;
}
.footer__subscribe button {
  margin-left: 10px;
  /* padding: 10px 0px; */
  font-size: 2rem;
  background-color: var(--comp);
  background-color: inherit;
  color: var(--comp);
  width: 9%;
  border: none;
}
.fa-circle-right {
  transition: 0.3s all;
}
.fa-circle-right:hover {
  transform: scale(1.2);
  opacity: 0.8;
  cursor: pointer;
}
.fa-brands {
  font-size: 3rem;
  padding: 0px 20px;
  margin: 20px 0px;
  padding-right: 30px;
  border-right: 2px solid var(--main);
  transition: 0.3s all;
}
.fa-brands:hover {
  cursor: pointer;
  color: var(--comp);
}
.footer__right-row {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.copyrights {
  font-size: 0.75rem;
}
.fa-instagram {
  border-right: none;
}
.hero__stories {
  background-image: url(/assets/Stories/stroies-bg.jpg);
  /* height: 35rem; */
  height: 100%;
}
.hero__title-stories h3 {
  font-size: 4rem;
}
.header__stories {
  height: 35rem;
}
.section__stories--2 {
  padding: 100px 0px;
}
.section__stories--2 h3 {
  font-size: 1.5rem;
}
.stories {
  padding: 100px 0px;
  width: 100%;
}
.stories__container {
  width: 80%;
  max-width: 1600px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  margin: auto;
}
.story {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  margin: auto;
  /* height: 25rem; */
  margin-bottom: 50px;
}
.story__img {
  width: 48%;
  height: auto;
}
.story__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.story__content {
  width: 48%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
}
.story__content--title {
  font-size: 1.5rem;
  border-bottom: 2px solid lightgray;
  padding-bottom: 20px;
}
.story__content--button {
  width: 40%;
  padding: 20px 0px;
  font-size: 1.25rem;
  border-radius: 25px;
}
.story__content__button--container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
}
.story--2 {
  flex-direction: row-reverse;
}
.story--2 .story__content__button--container {
  justify-content: start;
}

.cta__stories {
  width: 100%;
  padding: 100px 0px;
}
.cta__stories--container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 70%;
  margin: auto;
  max-width: 1120px;
}
.cta__stories--title {
  font-size: 1.75rem;
  margin-bottom: 40px;
  text-align: center;
}
.cta__stories--description {
  font-size: 1.25rem;
  text-align: center;
}
.cta__stories--button button {
  padding: 20px 60px;
  width: 100%;
  margin-top: 40px;
  border-radius: 25px;
  font-size: 1.25rem;
}
.header__about {
  height: 35rem;
}

.hero__about {
  background-image: url("../assets/About/hero.jpg");
  height: 100%;
}
.our__mission {
  width: 100%;
  height: 40rem;
}
.om__container {
  height: 100%;
  width: 70%;
  max-width: 1120px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.om__img {
  width: 100%;
  height: 100%;
}
.om__img img {
  width: 90%;
  height: 100%;
  object-fit: cover;
}
.om__content {
  width: 80%;
  margin: auto;
}

.om__content--title {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 50px;
}
.om__content--description {
  font-size: 1.5rem;
  text-align: center;
}
.cards {
  width: 100%;
  padding: 100px 0px;
  background-image: url("/assets/About/girlsunshine.jpg");
  background-repeat: none;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  /* position: relative; */
}
.cards__container {
  width: 90%;
  max-width: 1600px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
}
.card__content {
  width: 30%;
  height: 100%;
  background-color: var(--comp);
  padding: 20px;
  border-radius: 25px;
  color: #d5d5d5;
  box-shadow: 2px 2px 25px 5px rgba(255, 255, 255, 0.4);
  transition: 0.5s all;
  user-select: none;
}
.card__content:hover {
  transform: scale(110%);
  cursor: grab;
}
.card__content--title {
  display: flex;
  align-items: center;
  justify-content: left;
  font-size: 2.25rem;
  margin-bottom: 20px;
}
.aboutus__icon {
  margin-right: 20px;
}
.card--2 {
  background-color: var(--secondary);
}
.card--2 .card__content--title {
  font-size: 1.75rem;
}
.card--3 {
  background-color: var(--main);
  color: var(--secondary);
}

.testimonials {
  padding: 100px;
}
.testimonials__container {
  margin: auto;
  align-items: center;
  justify-self: center;
  width: 70%;
  max-width: 1120px;
}
.testimonials__title {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 50px;
}
.testimonials__content--description {
  text-align: center;
  font-size: 1.15rem;
}
.testimonials__content--name {
  font-size: 1.5rem;
  text-align: center;
  font-weight: bold;
  margin-top: 20px;
}

.item {
  padding: 20px;
  background-color: var(--comp);
  border-radius: 25px;
  border: 2px solid var(--secondary);
}

.hero__contact {
  background-image: url("/assets/Contact/hero.jpg");
}
.contact__form {
  padding: 100px 0px;
  width: 100%;
}
.contact__form--container {
  width: 70%;
  max-width: 1120px;
  margin: auto;
}
.contact__form--title {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 50px;
}
.form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.form__input--container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 30px;
}
.form__input--container input {
  padding: 15px 20px;
  width: 32%;
  border-radius: 25px;
  border: 2px solid #656565;
}

.form__input--container input:focus {
  outline: 1px solid #333;
}

.form--textarea {
  width: 99%;
  border-radius: 25px;
  padding: 15px 20px;
  height: 250px;

  font-size: 20px;
  background-color: #fff;
  border: 2px solid #656565;
}
.form--textarea:focus {
  outline: 1px solid #333;
}
.form--btn {
  padding: 20px 0px;
  width: 25%;
  border-radius: 25px;
  margin-top: 25px;
  font-size: 1.25rem;
}
@media screen and (max-width: 750px) {
  .form__input--container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 0px;
  }
  .form__input--container input {
    width: 100%;
    margin: 5px 0px;
  }
  .form--btn {
    width: 100%;
  }
}
@media screen and (max-width: 1000px) {
  .form--btn {
    width: 50%;
  }
}
.contact__info {
  width: 100%;
  padding: 100px 0px;
  padding-bottom: 25px;
}
.contact__info--container {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.contact__phone,
.contact__address {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 1.5rem;
}
.contact__phone .fa-solid,
.contact__address .fa-solid {
  margin-right: 20px;
  font-size: 1.75rem;
}

.map {
  padding-bottom: 50px;
  width: 100%;
}
.iframe__map {
  height: 500px;
  width: 100%;
}

.hero__donate {
  background-image: url("/assets/Donate/hero.jpg");
}

.donate__form--container {
  margin: auto;
  width: 50%;
  color: var(--main);
  padding: 75px;
  background-color: var(--secondary);
  transform: translateY(-15%);
}
.donate__form--title {
  text-align: center;
  margin-bottom: 50px;
}

.donation__form--custom {
  padding: 5px 0px;
  width: 33%;
  text-align: center;
  font-size: 1.25rem;
  margin-bottom: 40px;
  outline: none;
}
.pick__btns--container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.pick__btns--top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}
.btn-top {
  width: 33%;
  margin: auto;
  padding: 5px 0px;
  border: 4px solid var(--comp);
  font-size: 1.25rem;
  transition: 0.2s all ease-in-out;
}
.btn-top:hover,
.btn-bot:hover {
  cursor: pointer;
  background-color: var(--comp);
  color: var(--main);
}
.pick__btns--bottom {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-bot {
  width: 50%;
  padding: 5px 0px;
  border: 4px solid var(--comp);
  transition: 0.2s all ease-in-out;
}
.personal__info {
  margin-top: 40px;
}
.personal__info--title {
  margin-bottom: 20px;
}
.personal__info--names {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
.personal__info--names input {
  padding: 5px 10px;
  width: 48%;
}
.personal__info--email {
  width: 100%;
  background-color: #d5d5d5;
  margin-bottom: 10px;
}
.personal__info--email input {
  padding: 5px 10px;
  width: 100%;
}
.donate--textarea {
  border-radius: 0px;
  border: none;
  width: 100%;
}
.credit__info {
  margin-top: 40px;
  margin-bottom: 40px;
}
.credit__info--title {
  margin-bottom: 20px;
}
.credit__info--top,
.credit__info--bot {
  width: 100%;
  margin-bottom: 10px;
}
.card-holder,
.card-number {
  width: 65%;
  padding: 5px;
}
.cvc,
.card-date {
  width: 30%;
  padding: 5px;
}
.form__footer--items {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.form__footer--items div {
  width: 25%;
  background-color: var(--main);
  color: var(--secondary);
  text-align: center;
  padding: 5px 10px;
  font-size: 1.5rem;
}
.form__footer--items button {
  width: 25%;
  background-color: var(--main);
  padding: 5px 10px;
  border: 4px solid var(--comp);
  font-size: 1.25rem;
  transition: 0.2s all ease-in-out;
}
.form__footer--items button:hover {
  background-color: var(--comp);
  cursor: pointer;
  color: var(--main);
}
.hero__sponsor {
  background-image: url("../assets/Sponsor/Hero.jpg");
}
.hero__title--sponsor h2 {
  font-size: 3.5rem !important;
}
.sac {
  width: 100%;
  padding: 100px 0px;
}
.sac__container {
  width: 70%;
  max-width: 1120px;
  margin: auto;
  text-align: center;
}
.sac--title h3 {
  font-size: 2.5rem;
  font-weight: bold;
}
.sac--description p {
  font-weight: 400;
  font-size: 1.75rem;
  margin-top: 50px;
}

.sd {
  width: 100%;
  padding: 100px;
}
.sd__container {
  margin: auto;
  width: 90%;
  max-width: 1600px;
  display: grid;
  /* align-items: center; */
  grid-template-columns: 1fr 1fr;
  grid-gap: 25px;
  /* justify-content: space-between; */
}
.sd__img {
  width: 100%;
  height: auto;
  transition: 0.3s all;
}
.sd__img:hover {
  transform: scale(1.05);
  opacity: 0.9;
}
.sd__img img {
  border-radius: 25px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.sd__content {
  width: 100%;
  height: 100%;
}
.sd h3 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 20px;
}
.sd p {
  font-size: 1.75rem;
}
.faq__section {
  padding: 100px 0px;
}
.faq {
  padding: 20px;
}
.faq--title {
  font-size: 1.25rem;
  margin-bottom: 20px;
}
.faq--description {
  font-size: 1rem;
  width: 50%;
  margin: auto;
  margin-bottom: 40px;
}
.mySwiper1 {
  width: 70%;
}
.swiper-button {
  color: var(--secondary);
}
.swiper-pagination-bullet {
  background-color: #333;
}
.swiper-navigation {
  width: 15px;
}
.swiper-button-prev {
  width: 50px !important;
  height: 50px !important;
}
#swiper-button .swiper-button {
  width: 500px !important;
  height: 500px !important;
}
.faq__section--title h3 {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 40px;
}
.cta__sponsor {
  width: 100%;
  padding: 100px;
}
.cta__sponsor--container {
  margin: auto;
  width: 70%;
  max-width: 1120px;
  text-align: center;
  font-size: 1.75rem;
}
.cta__sponsor--description {
  margin-bottom: 40px;
}
.cta__sponsor button {
  padding: 10px 40px;
  font-size: 1.5rem;
  border-radius: 15px;
}
.header__volunteer {
  height: 35rem;
}
.hero__volunteer {
  background-image: url("/assets/Volunteer/hero.jpg");
}
.vo {
  padding: 100px 0px;
  width: 100%;
}
.vo__container {
  width: 90%;
  max-width: 1600px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  margin: auto;
}
.vo__img {
  width: 100%;
  height: auto;
}
.vo__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.vo__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
.vo__content--title {
  font-size: 1.75rem;
  font-weight: bold;
  text-align: center;
}
.boxes__container {
  height: 90%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 20px;
}
.vo__box {
  border: 2px solid var(--secondary);
  border-radius: 25px;
  padding: 20px;
}
.vo__box--title {
  display: flex;
  align-items: center;
  justify-content: left;
  font-size: 1.5rem;
  margin-bottom: 10px;
}
.vo__box--title i {
  margin-right: 20px;
}
.requirements {
  padding: 100px 0px;
  width: 100%;
}
.requirements__container {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  grid-gap: 25px;
  width: 90%;
  max-width: 1600px;
  margin: auto;
}
.requirements__img {
  width: 100%;
  height: auto;
}
.requirements__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.req__box--title {
  font-size: 1.75rem;
  margin-bottom: 20px;
  font-weight: bold;
}

.req__box--description {
  font-size: 1.25rem;
  font-weight: 400;
}
.header__ow {
  height: 35rem;
}
.hero__ow {
  background-image: url("/assets/ourwork/hero.jpg");
}

.ow__section {
  width: 100%;
  padding: 100px 0px;
}
.education__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 90%;
  max-width: 1600px;
  margin: auto;
  grid-gap: 40px;
}
.education__img {
  width: 100%;
  height: auto;
  max-height: 500px;
}
.education__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.box__container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 100%;
  flex-direction: column;
}

.education__box {
  width: 75%;
  padding: 5px 15px;
  border: 2px solid var(--secondary);
  border-radius: 25px;
  height: 30%;
  text-align: center;
}
.education__box--title {
  margin-bottom: 10px;
}
.box--1,
.box--3 {
  align-self: flex-start;
}
.box--2 {
  align-self: flex-end;
}
.ce__container {
  width: 90%;
  max-width: 1600px;
  margin: auto;
}

.ce__title {
  font-size: 1.75rem;
  font-weight: 800;
  text-align: center;
  margin-bottom: 20px;
}
.ce__description {
  font-size: 1.25rem;
  font-weight: 400;
  max-width: 900px;
  text-align: center;
  margin: auto;
  margin-bottom: 20px;
}
.ce__boxes--container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 20px;
}
.ce__box {
  padding: 20px;
  text-align: center;
  border-radius: 25px;
  border: 2px solid var(--secondary);
}
.ce__box--1 {
  grid-column: 1 / span 2;
}
.hc__box--1,
.hc__box--3 {
  align-self: flex-end;
}
.hc__box--2 {
  align-self: flex-start;
}

@media screen and (max-width: 540px) {
  .header__nav {
    display: none;
  }
  .hamburger {
    display: block;
  }
}

@media screen and (max-width: 900px) {
  .hero__title h2 {
    font-size: 1rem !important;
  }
  .om__content--description p {
    font-size: 1rem;
  }
  .om__content--title {
    font-size: 1.75rem;
    margin-bottom: 20px;
  }
  .faq--description {
    width: 75%;
  }
}
@media screen and (max-width: 600px) {
  .om__img {
    display: none;
  }
  .om {
    padding: 50px 0px !important;
  }
  .om__container {
    width: 95%;
  }
  .faq__section--title h3 {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 1050px) {
  .cards__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 25px;
  }
  .card__content {
    width: 90%;
    margin: auto;
  }
}
@media screen and (max-width: 750px) {
  .cards__container {
    grid-template-columns: 1fr;
    margin: auto;
  }

  .card__content {
    width: 90%;
    max-width: 400px;
    margin: auto;
  }
}
@media screen and (max-width: 550px) {
  .faq--description {
    width: 100%;
    padding: 0px 20px;
  }
  .form--btn {
    width: 100%;
  }
  .story__content--title h3 {
    font-size: 1rem;
  }
  .cta__stories--title h3 {
    font-size: 1.25rem;
  }
  .cta__stories--description {
    font-size: 1rem;
  }
  .cta__stories--button button {
    padding: 15px 30px;
    font-size: 1rem;
  }
}
@media screen and (max-width: 850px) {
  .contact__info--container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    height: 8rem;
    text-align: center;
  }
}
.story__content--title {
  width: 100%;
}
@media screen and (max-width: 1500px) {
  .story__content--title-text {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 1000px) {
  .story {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* margin-bottom: 200px; */
    /* margin-bottom: 20px; */
  }
  .story__content,
  .story__img {
    width: 90%;
  }
}
@media screen and (max-width: 650px) {
  .story {
    width: 100%;
  }
  .story__content--title-text {
    font-size: 1.1rem;
  }
  .story__content--description {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 900px) {
  .education__container {
    display: grid;
    grid-template-columns: 1fr;
  }
  .education__box {
    padding-bottom: 40px;
  }
}
@media screen and (max-width: 400px) {
  .education__container {
    display: grid;
    grid-template-columns: 1fr;
  }
  .education__box {
    align-self: center;
    width: 100%;
  }
}
@media screen and (max-width: 450px) {
  .ce__box {
    padding: 5px;
  }
  .ce__box h3 {
    font-weight: 600;
    font-size: 1rem;
  }
  .ce__box p {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 720px) {
  .sac--title h3 {
    font-size: 1.75rem;
  }
  .sac--description p {
    margin-top: 10px;
  }
}
@media screen and (max-width: 500px) {
  .sac--title h3 {
    font-size: 1.5rem;
  }

  .sac--description p {
    font-size: 1rem;
  }
}
